container
    flex: 1
    flexDirection: row
    justifyContent: center
    alignItems: center
    backgroundColor: #F5FCFF

mainContainer
    flex: 1
    backgroundColor: white

rightContainer
    flex: 1

thumbnail
    width: 53
    height: 80

title
    fontSize: 20
    marginBottom: 8
    textAlign: center

year
    textAlign: center

listView
    paddingTop: 20
    backgroundColor: #F5FCFF

buttons
    flexDirection: row
    height: 60
    backgroundColor: black
    alignItems: center
    justifyContent: space-between

button
    flex: 1
    width: 0
    margin: 5
    borderColor: gray
    borderWidth: 1
    backgroundColor: gray

image
    width: 30
    height: 20
    padding: 0

viewPager
    flex: 1
